body{
    background-color: #1E1E1E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.card{
    background-color: #2D2D2D;
    border: 1px solid #3D3D3D;
    color: #ffffff;
}

.form-control,
.form-select {
    background-color: #3D3D3D;
    border-color: #555;
    color: #ffffff;
}
.form-control::placeholder,
.form-select::placeholder {
    color: #aaaaaa;
}
.form-control:focus,
.form-select:focus {
    background-color: #3D3D3D;
    border-color: #0d6efd;
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(100, 100, 100, 0.25);
}
